@import '../global_functions/_global_functions';
@import '../global_variables/_global_variables';
@import '_font-size';
@import '_letter-spacing';
@import '_text-indent';

@mixin btn-typography {
    @include font-size (16px);
    @include letter-spacing (2px);
    @include text-indent(0px);
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-overflow: hidden;
    text-transform: normal;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    user-select: none;
}