@import '../global_functions/_global_functions';
@import '../global_variables/_global_variables';
@import '../box_model/_all-margin';
@import '../box_model/_all-padding';
@import '../box_model/_width-height';
@import '_font-size';
@import '_text-indent';

@mixin h3-typography {
    @include horizontal-vertical-margin(9px, 0px, 9px, 0px);
    @include all-padding(0px, 0px, 0px, 0px);
    width: 100%;
    @include height(20px);
    @include font-size(18px);
    @include text-indent(0px);
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    text-overflow: hidden;
    text-transform: normal;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
}