@import '../global_functions/_global_functions';
@import '../global_variables/_global_variables';

@mixin standard_typography {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-overflow: hidden;
    text-transform: normal;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
}