/* INCLUDING THE RESET FILE */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0rem;
  padding: 0rem;
  border-width: 0rem;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0rem;
}

/* INCLUDING ALL THE BOX MODEL MIXINS */
/* INCLUDING ALL THE HTML COMPONENTS */
/* INCLUDING ALL THE GLOBAL FUNCTIONS */
/* INCLUDING ALL THE GLOBAL VARIABLES */
/* INCLUDING ALL THE FLEXBOX MIXINS */
/* INCLUDING ALL THE TYPOGRAPHY MIXINS */
body {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  border-radius: 0.3125rem;
  width: 30rem;
  height: 37.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 576px) and (min-width: 320px) {
  .container {
    border-width: 0rem;
    border-radius: 0rem;
    width: 20rem;
    height: 100%;
  }
}
.container .title {
  width: 30rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 320px) {
  .container .title {
    width: 100%;
  }
}
.container .title .h1-typography {
  margin: 0.6875rem 0rem;
  padding: 0rem;
  width: 100%;
  height: 2.5rem;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  font-size: 2.1875rem;
  text-align: center;
  text-indent: 0rem;
  margin: 0rem;
  height: 5rem;
  font-size: 3.125rem;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 320px) {
  .container .title .h1-typography {
    font-size: 40px;
  }
}
.container .input {
  margin: 0rem;
  padding: 0.3125rem 0rem;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 5rem;
}
.container .input__check {
  margin-right: 0.625rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  width: 1.25rem;
  height: 1.25rem;
}
.container .input__control {
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  padding-left: 0.3125rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  width: 18.75rem;
  height: 1.875rem;
}
.container .input__text {
  margin: 0.5rem 0rem;
  padding: 0rem;
  width: 100%;
  height: 1.125rem;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  font-size: 1rem;
  text-indent: 0rem;
  height: 1.25rem;
  user-select: none;
}
.container .input__text:hover {
  cursor: pointer;
}
.container .input__label {
  margin: 0.5rem 0rem;
  padding: 0rem;
  width: 100%;
  height: 1.125rem;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  font-size: 1rem;
  text-indent: 0rem;
  width: 7.5rem;
  height: 1.875rem;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .input__textarea {
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  padding-left: 0.3125rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  width: 18.75rem;
  height: 12.5rem;
  resize: none;
}
.container .input__dropdown {
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  padding-left: 0.3125rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  width: 19.3125rem;
  height: 2rem;
}
.container .input--standard {
  padding: 0rem;
}
.container .input__control {
  margin: 0rem;
  border-width: 0rem;
  padding-right: 0.625rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  width: 29.0625rem;
  height: 5rem;
  font-size: 2.5rem;
  text-align: right;
  background-color: #000000;
  color: #FFFFFF;
  user-select: none;
}
@media only screen and (max-width: 320px) {
  .container .input__control {
    width: 18.75rem;
  }
}
@media only screen and (max-width: 320px) {
  .container .input {
    width: 100%;
  }
}
.container .calculator {
  width: 30rem;
  height: 28.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .calculator .calculator-keys {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 320px) {
  .container .calculator .calculator-keys {
    width: 18.75rem;
  }
}
.container .calculator .calculator-keys .btn {
  margin: 0rem;
  padding: 0rem;
  width: 9.375rem;
  height: 3.125rem;
  width: 5rem;
  height: 5rem;
}
.container .calculator .calculator-keys .btn__text {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  font-size: 1rem;
  letter-spacing: 0.125rem;
  text-indent: 0rem;
  user-select: none;
}
.container .calculator .calculator-keys .btn--standard {
  color: #000000;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #E6E6E6;
  border-color: #CCCCCC;
}
.container .calculator .calculator-keys .btn--primary {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #007BFF;
  border-color: #007BFF;
}
.container .calculator .calculator-keys .btn--secondary {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #6C757D;
  border-color: #6C757D;
}
.container .calculator .calculator-keys .btn--success {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #28A745;
  border-color: #28A745;
}
.container .calculator .calculator-keys .btn--danger {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #DC3545;
  border-color: #DC3545;
}
.container .calculator .calculator-keys .btn--warning {
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #FFC107;
  border-color: #FFC107;
}
.container .calculator .calculator-keys .btn--info {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #17A2B8;
  border-color: #17A2B8;
}
.container .calculator .calculator-keys .btn--light {
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #F8F9FA;
  border-color: #F8F9FA;
}
.container .calculator .calculator-keys .btn--dark {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #343A40;
  border-color: #343A40;
}
.container .calculator .calculator-keys .btn:hover {
  cursor: pointer;
  opacity: 0.85;
}
.container .calculator .calculator-keys .btn:focus {
  outline: none;
}
@media only screen and (max-width: 320px) {
  .container .calculator .calculator-keys .btn {
    width: 4.6875rem;
    height: 4.6875rem;
  }
}
.container .calculator .calculator-keys .btn--all-clear {
  background-color: #FF0000;
  border-color: #FF0000;
  color: #FFFFFF;
}
.container .calculator .calculator-keys .btn--equal-sign {
  background-color: #2E86C0;
  border-color: #2E86C0;
  color: #FFFFFF;
}
.container .calculator .calculator-keys .btn__text {
  font-size: 1.25rem;
  font-weight: bolder;
}
@media only screen and (max-width: 320px) {
  .container .calculator {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
