@import '../../../main-styles.scss';

body {
    width: auto;
    height: 100vh;
    @include flex-center();
}
.container {
    @include all-border(1px, 1px, 1px, 1px);
    @include border-radius(5px, 5px, 5px, 5px);
    @include width(480px);
    @include height(600px);
    @include flex-center();
    flex-direction: column;
    @media only screen and (max-width: 576px) and (min-width: 320px) {
        @include all-border(0px, 0px, 0px, 0px);
        @include border-radius(0px, 0px, 0px, 0px);
        @include width(320px);
        height: 100%;
    }
    & .title {
        @include width(480px);
        @include height(80px);
        @include flex-center();
        @media only screen and (max-width: 320px) {
            width: 100%;
        }
        & .h1-typography {
            @include h1-typography;
            @include all-margin(0px, 0px, 0px, 0px);
            @include height(80px);
            font-size: font-size(50px);
            user-select: none;
            @include flex-center();
            @media only screen and (max-width: 320px) {
                font-size: 40px;
            }
        }
    }
    & .input {
        @include input;
        @include width(480px);
        @include height(80px);
        &--standard {
            @include all-padding(0px, 0px, 0px, 0px);
        }
        &__control {
            @include all-margin(0px, 0px, 0px, 0px);
            @include all-border(0px, 0px, 0px, 0px);
            @include all-padding(0px, 10px, 0px, 0px);
            @include width(465px);
            @include height(80px);
            font-size: font-size(40px);
            text-align: right;
            background-color: #000000;
            color: #FFFFFF;
            user-select: none;
            @media only screen and (max-width: 320px) {
                @include width(300px);
            }
        }
        @media only screen and (max-width: 320px) {
            width: 100%;
        }
    }
    & .calculator {
        @include width(480px);
        @include height(460px);
        @include flex-center();
        flex-direction: column;
        & .calculator-keys {
            @include width(320px);
            @include flex-center();
            flex-wrap: wrap;
            @media only screen and (max-width: 320px) {
                @include width(300px);
            }
            & .btn {
                @include btn-filled;
                @include width(80px);
                @include height(80px);
                @media only screen and (max-width: 320px) {
                    @include width(75px);
                    @include height(75px);
                }
                &--all-clear {
                    background-color: #FF0000;
                    border-color: #FF0000;
                    color: #FFFFFF;
                }
                &--equal-sign {
                    background-color: #2E86C0;
                    border-color: #2E86C0;
                    color: #FFFFFF;
                }
                &__text {
                    font-size: font-size(20px);
                    font-weight: bolder;
                }
            }
        }
        @media only screen and (max-width: 320px) {
            width: 100%;
        }
    }
}