@import '../../global_functions/_global_functions';
@import '../../global_variables/_global_variables';
@import '../../box_model/_global_box_model';
@import '../../typography/_global_typography';


@mixin btn-switch {
    position: relative;
    display: inline-block;
    @include width(90px);
    @include height(34px);
    & input {
        display: none;
    }
    & input:checked + .slider {
        background-color: #2AB934;
    }
    & input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    & input:checked + .slider:before {
        -webkit-transform: translateX(55px);
        -ms-transform: translateX(55px);
        transform: translateX(55px);
    }
    & .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #CA2222;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        &:before {
            position: absolute;
            content: "";
            @include height(26px);
            @include width(26px);
            left: 4px;
            bottom: 4px;
            background-color: #FFFFFF;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }
        & .on {
            display: none;
        }
        & .on, & .off {
            color: white;
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            font-size: font-size(12px);
            @include standard-typography();
            user-select: none;
        }
        &.round {
            @include border-radius(34px, 34px, 34px, 34px);
            &:before {
                border-radius: 50%;
            }
        }
    }
    & input:checked + .slider .on {
        display: block;
    }
    & input:checked + .slider .off {
        display: none;
    }
}