@import '../../global_functions/_global_functions';
@import '../../global_variables/_global_variables';
@import '../../box_model/_global_box_model';
@import '../../typography/_global_typography';

@mixin btn-badge {
    @include all-margin(0px, 0px, 0px, 0px);
    @include all-padding(0px, 0px, 0px, 0px);
    @include width(150px);
    @include height(50px);
    &__text {
        @include btn-typography;
        letter-spacing: letter-spacing(1px);
    }
    &__badge {
        @include p-typography;
        @include horizontal-vertical-padding(0px, 5px, 0px, 5px);
        @include all-border(1px, 1px, 1px, 1px);
        @include border-radius(5px, 5px, 5px, 5px);
        border-color: #FFFFFF;
        background-color: #FFFFFF;
        color: #000000;
        font-weight: bold;
    }
    @each $class, $properties in $button_classes {
        &--#{$class} {
            color: map-get($map: $properties, $key: color);
            @include all-border(1px, 1px, 1px, 1px);
            background-color: map-get($map: $properties, $key: background-color);
            border-color: map-get($map: $properties, $key: border-color);
        }
    }
    &:hover {
        cursor: pointer;
        opacity: 0.85;
    }
    &:focus {
        outline: none;
    }
}
@mixin btn-badge-pill {
    @include all-margin(0px, 0px, 0px, 0px);
    @include all-padding(0px, 0px, 0px, 0px);
    @include width(150px);
    @include height(50px);
    &__text {
        @include btn-typography;
        font-size: font-size(12px);
        letter-spacing: letter-spacing(0px);
    }
    @each $class, $properties in $button_classes {
        &--#{$class} {
            color: map-get($map: $properties, $key: color);
            @include all-border(1px, 1px, 1px, 1px);
            background-color: map-get($map: $properties, $key: background-color);
            border-color: map-get($map: $properties, $key: border-color);
        }
        &--pill-badge {
            @include border-radius(50px, 50px, 50px, 50px);
            @include width(100px);
            @include height(20px);
        }
    }
    &:hover {
        cursor: pointer;
        opacity: 0.85;
    }
    &:focus {
        outline: none;
    }
}
@mixin btn-badge-normal {
    @include all-margin(0px, 0px, 0px, 0px);
    @include all-padding(0px, 0px, 0px, 0px);
    @include width(150px);
    @include height(50px);
    &__text {
        @include btn-typography;
        font-size: font-size(12px);
        letter-spacing: letter-spacing(0px);
    }
    @each $class, $properties in $button_classes {
        &--#{$class} {
            color: map-get($map: $properties, $key: color);
            @include all-border(1px, 1px, 1px, 1px);
            background-color: map-get($map: $properties, $key: background-color);
            border-color: map-get($map: $properties, $key: border-color);
        }
        &--normal-badge {
            @include width(100px);
            @include height(20px);
        }
    }
    &:hover {
        cursor: pointer;
        opacity: 0.85;
    }
    &:focus {
        outline: none;
    }
}