@import '../../global_functions/_global_functions';
@import '../../global_variables/_global_variables';
@import '../../box_model/_global_box_model';
@import '../../typography/_global_typography';


@mixin btn-read-more {
    & .h2-typography {
        @include h2-typography();
    }
    & .p-typography {
        @include p-typography();
        height: auto;
    }
    & #dots, & #more {
        display: none;
    }
    & .btn {
        @include all-margin(0px, 0px, 0px, 0px);
        @include all-padding(0px, 0px, 0px, 0px);
        @include width(150px);
        @include height(50px);
        &--read-more {
            @include width(120px);
            @include height(30px);
            color: #FFFFFF;
            background-color: #007BFF;
            @include all-border(1px, 1px, 1px, 1px);
            @include border-radius(5px, 5px, 5px, 5px);
            border-color: #007BFF;
            &:hover {
                background-color: #006FE6;
            }
        }
        &__text {
            @include btn-typography;
        }
    }
}