@import '../../global_functions/_global_functions';
@import '../../global_variables/_global_variables';
@import '../../box_model/_global_box_model';
@import '../../typography/_global_typography';

@mixin btn-scroll-top {
    & .p-typography {
        @include p-typography();
    }
    & .btn {
        @include all-margin(0px, 0px, 0px, 0px);
        @include all-padding(0px, 0px, 0px, 0px);
        @include width(150px);
        @include height(50px);
        &__text {
            @include btn-typography;
        }
        &--scroll-top {
            bottom: 20px;
            right: 30px;
            border: none;
            @include border-radius(4px, 4px, 4px, 4px);
            @include horizontal-vertical-padding(10px, 15px, 10px, 15px);
            width: auto;
            height: auto;
            font-size: font-size(20px);
            display: none;
            position: fixed;
            z-index: 99;
            outline: none;
            background-color: #FF0000;
            color: white;
            cursor: pointer;
            &:hover {
                background-color: #E60000;
            }
        }
        &:hover {
            cursor: pointer;
            opacity: 0.85;
        }
        &:focus {
            outline: none;
        }
    }
}