@import '../global_functions/_global_functions';
@import '../global_variables/_global_variables';
@import '../box_model/_all-margin';
@import '../box_model/_all-padding';
@import '../box_model/_width-height';
@import '../box_model/_all-border';
@import '../typography/_btn-typography';

@mixin btn-filled {
    @include all-margin(0px, 0px, 0px, 0px);
    @include all-padding(0px, 0px, 0px, 0px);
    @include width(150px);
    @include height(50px);
    &__text {
        @include btn-typography;
    }
    @each $class, $properties in $button_classes {
        &--#{$class} {
            color: map-get($map: $properties, $key: color);
            @include all-border(1px, 1px, 1px, 1px);
            background-color: map-get($map: $properties, $key: background-color);
            border-color: map-get($map: $properties, $key: border-color);
        }
    }
    &:hover {
        cursor: pointer;
        opacity: 0.85;
    }
    &:focus {
        outline: none;
    }
}