@import '../global_functions/_global_functions';
@import '../global_variables/_global_variables';
@import '../box_model/_all-margin';
@import '../box_model/_all-padding';
@import '../box_model/_width-height';
@import '../box_model/_all-border';
@import '../typography/_btn-typography';

@mixin btn {
    @include all-margin(0px, 0px, 0px, 0px);
    @include all-padding(0px, 0px, 0px, 0px);
    @include width(150px);
    @include height(50px);
    &__text {
        @include btn-typography;
    }
    @each $outline-class, $properties in $button_classes-outline {
        &--#{$outline-class} {
            color: map-get($map: $properties, $key: color);
            @include all-border(1px, 1px, 1px, 1px);
            border-color: map-get($map: $properties, $key: border-color);
            background-color: #FFFFFF;
            @if $outline-class == "outline-standard" or $outline-class == "outline-warning" or $outline-class == "outline-light" {
                &:hover {
                    color: map-get($map: $properties, $key: hover-color);
                    background-color: map-get($map: $properties, $key: hover-background-color);
                }
            } @else {
                &:hover {
                    color: #FFFFFF;
                    background-color: map-get($map: $properties, $key: hover-background-color);
                }
            }
        }
    }
    &:hover {
        cursor: pointer;
        opacity: 0.85;
    }
    &:focus {
        outline: none;
    }
}