@import '../global_functions/_global_functions';
@import '../global_variables/_global_variables';
@import '../box_model/_all-margin';
@import '../box_model/_all-padding';
@import '../box_model/_width';
@import '../box_model/_height';
@import '../box_model/_all-border';
@import '../box_model/_left-border-radius';
@import '../box_model/_right-border-radius';
@import '../flexbox/_flex-center-left';
@import '../typography/_btn-typography';

@mixin button-group {
    @include flex-center-left-center();
    & .btn {
        @include all-margin(0px, 0px, 0px, 0px);
        @include all-padding(0px, 0px, 0px, 0px);
        @include width(150px);
        @include height(30px);
        &__text {
            @include btn-typography;
        }
        @each $class, $properties in $button_classes {
            &--#{$class} {
                @include all-border(1px, 1px, 1px, 1px);
                background-color: map-get($map: $properties, $key: background-color);
                border-color: map-get($map: $properties, $key: border-color);
            }
            &--#{$class}:first-of-type {
                @include left-border-radius(5px, 5px);
            }
            &--#{$class}:last-of-type {
                @include right-border-radius(5px, 5px);
            }
        }
        &:hover {
            cursor: pointer;
            opacity: 0.85;
        }
        &:focus {
            outline: none;
        }
    }
    @each $breakpoint in $component_breakpoints {
        @if $breakpoint <= 768px and $breakpoint >= 600px {
        & .btn:nth-child(n+3):nth-child(-n+3) {
            @media only screen and (max-width: $breakpoint) and (orientation: portrait) {
                display: none;
            }
        }
        & .btn {
            @media only screen and (max-width: $breakpoint) and (orientation: portrait) {
                @include width(118px);
            }
        }
        } @else if $breakpoint <= 412px {
            & .btn:nth-child(n+2):nth-child(-n+2) {
                @media only screen and (max-width: $breakpoint) and (orientation: portrait) {
                    display: none;
                }
            }
            & .btn {
                @media only screen and (max-width: $breakpoint) and (orientation: portrait) {
                    @include width(98px);
                }
            }
        }
    }
}