@import "../box_model/_box_model";
@import "../flexbox/_flexbox";
@import "../global_functions/_global_functions";
@import "../global_variables/_global_variables";
@import "../typography/_typography";













@mixin list-search {
  width: auto;
  height: auto;
  & .list {
    @include list;
    @include all-margin(0px, 0px, 0px, 0px);
    &__type1 {
      @include width(498px);
      @include all-border(1px, 1px, 1px, 1px);
      border-top-width: 0px;
      @each $breakpoint in $component_breakpoints {
        @if $breakpoint < 600px {
          @media only screen and (max-width: $breakpoint) {
            @include width($breakpoint - 2px);
          }
        }
      }
    }
    &__text-type1 {
      @include width(480px);
      @each $breakpoint in $component_breakpoints {
        @if $breakpoint < 600px {
          @media only screen and (max-width: $breakpoint) {
            @include width($breakpoint - 20px);
          }
        }
      }
    }
  }
  & .input {
    @include input;
    &__control {
      @include horizontal-vertical-padding(0px, 10px, 0px, 10px);
      @include width(478px);
      @include height(50px);
      &:focus {
        outline: none;
      }
      @each $breakpoint in $component_breakpoints {
        @if $breakpoint < 600px {
          @media only screen and (max-width: $breakpoint) {
            @include horizontal-vertical-padding(0px, 10px, 0px, 10px);
            @include width($breakpoint - 22px);
          }
        }
      }
    }
  }
  @each $breakpoint in $component_breakpoints {
    @if $breakpoint < 600px {
      @media only screen and (max-width: $breakpoint) {
        @include width($breakpoint);
      }
    }
  }
}



@mixin tooltip-button {
  position: relative;
  display: inline-block;
  & .btn {
    @include all-margin(0px, 0px, 0px, 0px);
    @include all-padding(0px, 0px, 0px, 0px);
    @include width(150px);
    @include height(50px);
    &__text {
      @include btn-typography;
    }
    &--standard {
      @include all-border(1px, 1px, 1px, 1px);
      background-color: #E6E6E6;
      border-color: #CCCCCC;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.85;
    }
    &:focus {
      outline: none;
    }
  }
  .tooltip-content {
    @include width(148px);
    height: auto;
    background-color: #E6E6E6;
    @include all-border(1px, 1px, 1px, 1px);
    border-color: #CCCCCC;
    @include border-radius(5px, 5px, 5px, 5px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    position: absolute;
    top: 55px;
    z-index: 1;
    // clip-path: polygon(50% 0%, 60% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 40% 20%);
    & .p-typography {
      @include p-typography;
      @include horizontal-vertical-margin(8px, 0px, 5px, 0px);
      text-align: center;
      user-select: none;
    }
  }
  &:hover .tooltip-content {
    display: block;
  }
}