@import '../global_functions/_global_functions';
@import '../global_variables/_global_variables';
@import '../box_model/_horizontal-vertical-margin';
@import '../box_model/_horizontal-vertical-padding';
@import '../box_model/_height';
@import '../flexbox/_flex-center-left';
@import '../box_model/_all-margin';
@import '../box_model/_all-padding';
@import '../typography/_h3-typography';
@import '../typography/_font-size';
@import '../typography/_p-typography';

@mixin text-group {
    @include horizontal-vertical-margin(10px, 0px, 10px, 0px);
    @include horizontal-vertical-padding(0px, 10px, 0px, 10px);
    width: 100%;
    height: auto;
    @include flex-center-left-top();
    flex-direction: column;
    & .text-header {
        @include all-margin(0px, 0px, 0px, 0px);
        @include all-padding(0px, 0px, 0px, 0px);
        width: 100%;
        height: auto;
        @include flex-center-left-center();
        & .h3-typography {
            @include h3-typography;
            @include height(30px);
            @include font-size (30px);
            font-weight: bold !important;
            text-align: left;
            @each $breakpoint in $component_breakpoints {
                @if $breakpoint <= 768px {
                    @media only screen and (max-width: $breakpoint) and (orientation: portrait) {
                        text-align: center;
                    }
                }
            }
        }
    }
    & .text-content {
        @include all-margin(0px, 0px, 0px, 0px);
        @include all-padding(0px, 0px, 0px, 0px);
        width: 100%;
        height: auto;
        & .p-typography {
            @include p-typography;
            @include font-size (20px);
            height: auto;
            @each $breakpoint in $component_breakpoints {
                @if $breakpoint <= 768px {
                    @media only screen and (max-width: $breakpoint) and (orientation: portrait) {
                        text-align: justify;
                    }
                }
            }
        }
    }
    @each $breakpoint in $component_breakpoints {
        @media only screen and (max-width: $breakpoint) and (orientation: portrait) {
            @include width($breakpoint - 20px);
        }
    }
}