$var_base_font_size:    16px;
$margin-top:            0px;
$margin-right:          0px;
$margin-bottom:         0px;
$margin-left:           0px;
$padding-top:           0px;
$padding-right:         0px;
$padding-bottom:        0px;
$padding-left:          0px;
$input-classes:         check, control, text, label, textarea;
$component_breakpoints: 
    1366px, 1280px, 1024px, 962px, 834px, 
    800px, 768px, 600px, 412px, 375px, 360px, 320px;
// $component_breakpoints_landscape: 
//     1280px, 1112px, 1024px, 869px, 812px, 800px, 768px, 720px, 601px, 600px, 568px;
$alert_classes: (
    standard: (
        color: #000000,
        background-color: #E6E6E6,
        border-color: #CCCCCC,
    ),
    primary: (
        color: #000000,
        background-color: #007BFF,
        border-color: #007BFF,
    ),
    secondary: (
        color: #FFFFFF,
        background-color: #6C757D,
        border-color: #6C757D,
    ),
    success: (
        color: #000000,
        background-color: #28A745,
        border-color: #28A745,
    ),
    danger: (
        color: #000000,
        background-color: #DC3545,
        border-color: #DC3545,
    ),
    warning: (
        color: #000000,
        background-color: #FFC107,
        border-color: #FFC107,
    ),
    info: (
        color: #000000,
        background-color: #17A2B8,
        border-color: #17A2B8,
    ),
    light: (
        color: #000000,
        background-color: #F8F9FA,
        border-color: #F8F9FA,
    ),
    dark: (
        color: #FFFFFF,
        background-color: #343A40,
        border-color: #343A40,
    ),
);
$button_classes: (
    standard: (
        color: #000000,
        background-color: #E6E6E6,
        border-color: #CCCCCC,
        background-color-hover: #D9D9D9,
    ),
    primary: (
        color: #FFFFFF,
        background-color: #007BFF,
        border-color: #007BFF,
        background-color-hover: #006FE6,
    ),
    secondary: (
        color: #FFFFFF,
        background-color: #6C757D,
        border-color: #6C757D,
        background-color-hover: #848D94,
    ),
    success: (
        color: #FFFFFF,
        background-color: #28A745,
        border-color: #28A745,
        background-color-hover: #2DB94D,
    ),
    danger: (
        color: #FFFFFF,
        background-color: #DC3545,
        border-color: #DC3545,
        background-color-hover: #D92638,
    ),
    warning: (
        background-color: #FFC107,
        border-color: #FFC107,
        background-color-hover: #E6AC00,
    ),
    info: (
        color: #FFFFFF,
        background-color: #17A2B8,
        border-color: #17A2B8,
        background-color-hover: #19B4CC,
    ),
    light: (
        background-color: #F8F9FA,
        border-color: #F8F9FA,
        background-color-hover: #E1E6EA,
    ),
    dark: (
        color: #FFFFFF,
        background-color: #343A40,
        border-color: #343A40,
        background-color-hover: #2E3338,
    ),
);
$button_classes-outline: (
    outline-standard: ( 
        color: #000000,
        border-color: #CCCCCC,
        hover-background-color: #E6E6E6,
    ),
    outline-primary: ( 
        color: #007BFF, 
        border-color: #007BFF,
        hover-background-color: #007BFF,
    ),
    outline-secondary: ( 
        color: #6C757D, 
        border-color: #6C757D,
        hover-background-color: #6C757D,
    ),
    outline-success: ( 
        color: #28A745, 
        border-color: #28A745,
        hover-background-color: #28A745,
    ),
    outline-danger: ( 
        color: #DC3545, 
        border-color: #DC3545,
        hover-background-color: #DC3545,
    ),
    outline-warning: ( 
        color: #000000, 
        border-color: #FFC107,
        hover-background-color: #FFC107,
        hover-color: #000000,
    ),
    outline-info: ( 
        color: #17A2B8, 
        border-color: #17A2B8,
        hover-background-color: #17A2B8,
    ),
    outline-light: ( 
        color: #000000, 
        border-color: #F8F9FA,
        hover-background-color: #F8F9FA,
        hover-color: #000000,
    ),
    outline-dark: ( 
        color: #343A40, 
        border-color: #343A40,
        hover-background-color: #343A40,
    ),
);
$fa-classes: (
    facebook: (
        background-color: #3B5998,
        color: #FFFFFF,
    ),
    twitter: (
        background-color: #55ACEE,
        color: #FFFFFF,
    ),
    google: (
        background-color: #DD4B39,
        color: #FFFFFF,
    ),
    linkedin: (
        background-color: #007BB5,
        color: #FFFFFF,
    ),
    youtube: (
        background-color: #BB0000,
        color: #FFFFFF,
    ),
    instagram: (
        background-color: #125688,
        color: #FFFFFF,
    ),
    pinterest: (
        background-color: #CB2027,
        color: #FFFFFF,
    ),
    snapchat-ghost: (
        background-color: #FFFC00,
        color: #FFFFFF,
    ),
    skype: (
        background-color: #00AFF0,
        color: #FFFFFF,
    ),
    android: (
        background-color: #A4C639,
        color: #FFFFFF,
    ),
    dribbble: (
        background-color: #EA4C89,
        color: #FFFFFF,
    ),
    vimeo: (
        background-color: #45BBFF,
        color: #FFFFFF,
    ),
    tumblr: (
        background-color: #2C4762,
        color: #FFFFFF,
    ),
    vine: (
        background-color: #00B489,
        color: #FFFFFF,
    ),
    foursquare: (
        background-color: #45BBFF,
        color: #FFFFFF,
    ),
    stumbleupon: (
        background-color: #EB4924,
        color: #FFFFFF,
    ),
    flickr: (
        background-color: #F40083,
        color: #FFFFFF,
    ),
    yahoo: (
        background-color: #430297,
        color: #FFFFFF,
    ),
    soundcloud: (
        background-color: #FF5500,
        color: #FFFFFF,
    ),
    reddit: (
        background-color: #FF5700,
        color: #FFFFFF,
    ),
    rss: (
        background-color: #FF6600,
        color: #FFFFFF,
    ),
    user-circle: (
        color: #CCCCCC,
    ),
    key: (
        color: #CCCCCC,
    ),
    at: (
        color: #CCCCCC,
    ),
    search: (
        color: #CCCCCC,
    ),
    phone: (
        color: #55ACEE,
    ),
    ban: (
        color: #DC3545,
    ),
    university: (
        color: #CCCCCC,
    ),
    bars: (
        color: #FFFFFF,
        background-color: #B3B3B3,
        hover-background-color: #CCCCCC,
        hover-color: #FFFFFF,
    ),
    bell: (
        color: #FF6600,
    ),
    map-marker: (
        color: #45BBFF,
    ),
    quote-right: (
        color: #CCCCCC,
    ),
    quote-left: (
        color: #CCCCCC,
    ),
    calendar: (
        color: #00AFF0,
    ),
    cloud-upload: (
        color: #45BBFF,
    ),
    exclamation-triangle: (
        color: #FFC107,
    ),
    picture-o: (
        color: #125688,
    ),
    copyright: (
        color: #CCCCCC,
    ),
    download: (
        color: #FFFFFF,
        background-color: #B3B3B3,
        hover-background-color: #CCCCCC,
        hover-color: #FFFFFF,
    ),
    cog: (
        color: #FFFFFF,
        background-color: #B3B3B3,
        hover-background-color: #CCCCCC,
        hover-color: #FFFFFF,
    ),
    shopping-cart: (
        color: #BB0000,
    ),
    star: (
        color: #FFD700,
    ),
    comments: (
        color: #CCCCCC,
    ),
    home: (
        color: #008000,
    ),
    print: (
        color: #FFFFFF,
        background-color: #B3B3B3,
        hover-background-color: #CCCCCC,
        hover-color: #FFFFFF,
    ),
    envelope: (
        color: #FFFFFF,
        background-color: #B3B3B3,
        hover-background-color: #CCCCCC,
        hover-color: #FFFFFF,
    ),
);
$img-logo: (
    logo-50px: (
        logo-width: 300px,
        logo-height: 60px,
        img-width: 250px,
        img-height: 50px,
    ),
    logo-150px: (
        logo-width: 300px,
        logo-height: 160px,
        img-width: 250px,
        img-height: 150px,
    ),
    logo-75px: (
        logo-width: 400px,
        logo-height: 85px,
        img-width: 350px,
        img-height: 75px,
    ),
    logo-100px: (
        logo-width: 450px,
        logo-height: 110px,
        img-width: 400px,
        img-height: 100px,
    ),
);