$fa_classes: (
    facebook-f: (
        background-color: #3B5998,
        color: #FFFFFF,
    ),
    twitter: (
        background-color: #55ACEE,
        color: #FFFFFF,
    ),
    google: (
        background-color: #DD4B39,
        color: #FFFFFF,
    ),
    linkedin-in: (
        background-color: #007BB5,
        color: #FFFFFF,
    ),
    youtube: (
        background-color: #BB0000,
        color: #FFFFFF,
    ),
    instagram: (
        background-color: #125688,
        color: #FFFFFF,
    ),
    pinterest: (
        background-color: #CB2027,
        color: #FFFFFF,
    ),
    snapchat-ghost: (
        background-color: #FFFC00,
        color: #FFFFFF,
    ),
    skype: (
        background-color: #00AFF0,
        color: #FFFFFF,
    ),
    android: (
        background-color: #A4C639,
        color: #FFFFFF,
    ),
    dribbble: (
        background-color: #EA4C89,
        color: #FFFFFF,
    ),
    vimeo-v: (
        background-color: #45BBFF,
        color: #FFFFFF,
    ),
    tumblr: (
        background-color: #2C4762,
        color: #FFFFFF,
    ),
    vine: (
        background-color: #00B489,
        color: #FFFFFF,
    ),
    foursquare: (
        background-color: #45BBFF,
        color: #FFFFFF,
    ),
    stumbleupon: (
        background-color: #EB4924,
        color: #FFFFFF,
    ),
    flickr: (
        background-color: #F40083,
        color: #FFFFFF,
    ),
    yahoo: (
        background-color: #430297,
        color: #FFFFFF,
    ),
    soundcloud: (
        background-color: #FF5500,
        color: #FFFFFF,
    ),
    reddit: (
        background-color: #FF5700,
        color: #FFFFFF,
    ),
    rss: (
        background-color: #FF6600,
        color: #FFFFFF,
    ),
    user-circle: (
        color: #CCCCCC,
    ),
    key: (
        color: #CCCCCC,
    ),
    at: (
        color: #CCCCCC,
    ),
    search: (
        color: #CCCCCC,
    ),
    phone: (
        color: #55ACEE,
    ),
    ban: (
        color: #DC3545,
    ),
    university: (
        color: #CCCCCC,
    ),
    bars: (
        color: #FFFFFF,
        background-color: #B3B3B3,
        hover-background-color: #CCCCCC,
        hover-color: #FFFFFF,
    ),
    bell: (
        color: #FF6600,
    ),
    map-marker: (
        color: #45BBFF,
    ),
    quote-right: (
        color: #CCCCCC,
    ),
    quote-left: (
        color: #CCCCCC,
    ),
    calendar: (
        color: #00AFF0,
    ),
    cloud-upload: (
        color: #45BBFF,
    ),
    exclamation-triangle: (
        color: #FFC107,
    ),
    copyright: (
        color: #CCCCCC,
    ),
    download: (
        color: #FFFFFF,
        background-color: #B3B3B3,
        hover-background-color: #CCCCCC,
        hover-color: #FFFFFF,
    ),
    cog: (
        color: #FFFFFF,
        background-color: #B3B3B3,
        hover-background-color: #CCCCCC,
        hover-color: #FFFFFF,
    ),
    shopping-cart: (
        color: #BB0000,
    ),
    star: (
        color: #FFD700,
    ),
    comments: (
        color: #CCCCCC,
    ),
    home: (
        color: #008000,
    ),
    print: (
        color: #FFFFFF,
        background-color: #B3B3B3,
        hover-background-color: #CCCCCC,
        hover-color: #FFFFFF,
    ),
    envelope: (
        color: #FFFFFF,
        background-color: #B3B3B3,
        hover-background-color: #CCCCCC,
        hover-color: #FFFFFF,
    ),
);