@import '../global_functions/_global_functions';
@import '../global_variables/_global_variables';
@import '../box_model/_width-height';
@import '../box_model/_all-margin';
@import '../flexbox/flex-center';
@import '../typography/_h1-typography';
@import '../typography/_font-size';


@mixin hero-image {
    @include width(1920px);
    @include height(600px);
    background-image: url('../media library/hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex-center();
    & .hero-text {
        @include width(600px);
        height: auto;
        @include flex-center();
        flex-direction: column;
        & .h1-typography {
            @include h1-typography;
            @include all-margin(0px, 0px, 0px, 0px);
            @include height(100px);
            @include font-size(80px);
            user-select: none;
            background-color: #FFFFFF;
            opacity: 0.75;
            @include flex-center();
            @each $breakpoint in $component_breakpoints {
                @media only screen and (max-width: $breakpoint) {
                    @include width(600px);
                }
                @if $breakpoint <= 962px {
                    @media only screen and (max-width: $breakpoint) {
                        @include width($breakpoint);
                        height: auto;
                    }
                }
            }
        }
    & .p-typography {
        @include p-typography;
        @include all-margin(0px, 0px, 0px, 0px);
        @include height(50px);
        @include font-size(30px);
        text-align: center;
        user-select: none;
        background-color: #FFFFFF;
        opacity: 0.75;
        @include flex-center();
        @each $breakpoint in $component_breakpoints {
            @media only screen and (max-width: $breakpoint) {
                @include width(600px);
            }
            @if $breakpoint <= 962px {
                @media only screen and (max-width: $breakpoint) {
                    @include width($breakpoint);
                    height: auto;
                }
            }
        }
    }
        & .btn {
            @include btn;
            @include horizontal-vertical-margin(20px, 0px, 20px, 0px);
        }
        @each $breakpoint in $component_breakpoints {
            @media only screen and (max-width: $breakpoint) and (orientation: portrait) {
                @include width(600px);
            }
            @if $breakpoint <= 962px {
                @media only screen and (max-width: $breakpoint) and (orientation: portrait) {
                    @include width($breakpoint);
                }
            }
        }
    }
    @each $breakpoint in $component_breakpoints {
        @media only screen and (max-width: $breakpoint) {
            @include width($breakpoint);
        }
        @if $breakpoint == 320px {
            @media only screen and (max-width: $breakpoint) {
                @include height(568px);
            }
        }
    }
}