@import "../global_functions/_global_functions";
@import "../global_variables/_global_variables";









@mixin horizontal-vertical-padding ($var_padding_top, $var_padding_right, $var_padding_bottom, $var_padding_left) {
  @if 
  ($var_padding_top == $var_padding_bottom and $var_padding_top != 0 and $var_padding_bottom != 0) and 
  ($var_padding_right == $var_padding_left and $var_padding_right != 0 and $var_padding_left != 0) {
    padding: horizontal-vertical-padding($var_padding_top, $var_padding_right, $var_padding_bottom, $var_padding_left)
  }
  @else if
  ($var_padding_top == $var_padding_bottom and $var_padding_top = 0 and $var_padding_bottom = 0) and
  ($var_padding_right == $var_padding_left and $var_padding_right != 0 and $var_padding_left != 0) {
    padding: horizontal-vertical-padding($var_padding_top, $var_padding_right, $var_padding_bottom, $var_padding_left)
  }
  @else if
  ($var_padding_top == $var_padding_bottom and $var_padding_top != 0 and $var_padding_bottom != 0) and
  ($var_padding_right == $var_padding_left and $var_padding_right = 0 and $var_padding_left = 0) {
    padding: horizontal-vertical-padding($var_padding_top, $var_padding_right, $var_padding_bottom, $var_padding_left)
  }
}
@mixin width ($var_width) {
  @if $var_width == 0#{"px"} {
    width: width($var_width);
  }
  @else if $var_width != 0#{"px"} {
    width: width($var_width);
  }
}
@mixin height ($var_height) {
  @if $var_height == 0#{"px"} {
    height: height($var_height);
  }
  @else if $var_width != 0#{"px"} {
    height: height($var_height);
  }
}